@font-face {
  font-family: poppins;
  src: url(fonts/Poppins-Black.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: Inconsolata;
  src: url(fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(fonts/Oswald-VariableFont_wght.ttf);
} 
 
 .logo a{
  color: #000;
  text-decoration: none;

}

.sidebar {
  background-color: #f5f5f5;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.sidebar h5 {
  font-weight: 600;
}

.sidebar a {
  display: block;
  margin: 5px 0;
  text-decoration: none;
  color: #000;
  font-family: Inconsolata;
}

.sidebar a.active {
  color: #c29466;
  text-decoration: underline;
}

.divider {
  border-top: 1px solid #ccc;
  margin: 15px 0;
}

.price-labels {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.product-card {
  font-family: Roboto;
  text-align: center;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
}


@media (max-width: 767.98px) {
  .sidebar{
    margin-top: 50px;
  }
  .sidebar-container {
    display: none;
  }
}

.main-content {
  margin-top: 120px;} 
/*---------sidebar--------*/

.sidebar {
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 80px;
  border-right: 1px solid #ccc;
}

.sidebar h5 {
  font-weight: 600;
}

.sidebar a {
  display: block;
  margin: 5px 0;
  text-decoration: none;
  color: #000;
}

.sidebar a.active {
  color: #c29466;
  text-decoration: underline;
}

.divider {
  border-top: 1px solid #ccc;
  margin: 15px 0;
}

.price-labels {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.product-card {
  text-align: center;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
}
.collapse-icon {
  display: inline-block;
  width: 1em;
  text-align: center;
  font-weight: bold;
  user-select: none;
  transition: transform 0.3s ease;
  font-size: 1rem;     
  color: #555;        
  line-height: 1;
}

[data-bs-toggle="collapse"][aria-expanded="true"] .collapse-icon {
  transform: rotate(45deg);
  color: #222;        
}

@media (min-width: 768px) {
  .collapse-icon {
    font-size: 1.25rem;  
    color: #333;        
  }
  [data-bs-toggle="collapse"][aria-expanded="true"] .collapse-icon {
    color: #000;
  }
}

@media (max-width: 767.98px) {
  .sidebar-container {
    display: none;
  }
}


#mobileSidebar {
  margin-top: 105px; /
}
